
ul.object.properties > li,
.property {

	> * {
		line-height: 16px;
	}

	> label {
		font-weight: 500;
		text-align: right;
		white-space: nowrap;
	}

	> :empty:before {
		content: ' ';
		white-space: pre;
	}
}

.property > label {
	padding: 7px;
}

ul.object.properties {
	border-spacing: 7px;
	margin: 0;
	padding: 0;

	> li {
		display: table-row;

		> label {
			display: table-cell;
			padding: 7px 0;
			vertical-align: top;
		}
	}
}

article ul.object.properties > li {

	> :not(label) {
		background: #f4f4f4;
		border: 1px solid #f8f8f8;
		border-radius: 4px;
		padding: 6px;
	}

	> ul {
		display: block;

		> li {
			display: inline-block;

			&:not(:last-child):after {
				content: ', ';
				margin-right: .3em;
			}
		}
	}
}
